# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.png
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

# Local dev scratch files
hs_err_pid*.log
replay_pid*.log
